include ../partials/header
- var campOwner = currentUser && campground.owner.id.equals(currentUser._id)
.container
  .row
    .col-md-3
      p.lead YelpCamp
      .list-group
        li.list-group-item.active Info 1
        li.list-group-item Info 2
        li.list-group-item Info 3
        
    .col-md-9
      .card
        img.card-img-top.img-responsive(src=campground.image)
        .card-body
          .row.container
            h4.card-title: a= campground.name
            h4.ml-auto £#{campground.price} / night
          p= campground.description
          p: em Submitted by #{campground.owner.username}
          if campOwner
            form#campForm.d-flex.justify-content-end(action=campground._id+'/delete?_method=DELETE' method='POST')
              a.btn.btn-warning.w-25(href=campground._id+'/edit') Edit
              button.btn.btn-outline-danger.ml-1.w-25 Delete
              
      .card
        .card-header.d-flex.justify-content-between
          h4 Comments
          a.btn.btn-success(href=campground._id+'/comments/new') Add new comment
        .card-body
        
          each comment in campground.comments
            - var commentOwner = currentUser && comment.author.id.equals(currentUser._id)
            .card.border-info
              .card-header.bg-info.text-white
                .row.container
                  strong= comment.author.username
                  span.ml-auto 10 days ago
              .card-body
                p= comment.text
              if commentOwner
                .card-footer.bg-transparent
                  form#commentForm.d-flex.justify-content-end(action=campground._id+'/comments/'+comment._id+'?_method=DELETE' method='POST')
                    a.btn.btn-sm.btn-warning.w-25(href=campground._id+'/comments/'+comment._id+'/edit') Edit
                    button.btn.btn-sm.btn-outline-danger.ml-1.w-25 Delete
                

include ../partials/footer